# Data Types

This notebook acts as reference to the main data types in python

- Numbers
- Strings
- Lists
- Dictionaries
- Tuples
- Sets
- Booleans

Python has many [built-in data types](https://docs.python.org/3/library/stdtypes.html) this notebook briefly demonstrates the syntax of the most commonly used types

|   Name    | Type  |                      Description                       |
|:---------:|:-----:|:------------------------------------------------------:|
|  Integers |  int  |                     Whole numbers                      |
| Floating point  | float |                    Decimal.numbers                     |
| Strings  |  str  |            "Ordered sequence of characters"            |
| Lists  | list  |            ['Ordered', 'sequence', 'of', 'objects']            |
| Dictionaries  | dict  |              Unordered {key:value} pairs               |
| Tuples  |  tup  |  ('Ordered', 'immutable', 'sequence', 'of', 'objects')   |
| Sets  |  set  | {'Unordered','collection', 'of', 'unique', 'objects' } |
| Booleans  |   bool   |    Logical values indicating **True** or **False**     |

## Numbers
### Integers

In [1]:
type(1)

int

### Floating point numbers

In [2]:
type(1.1)

float

## Strings
Strings are **ordered sequences** of **characters** using the syntax of either '**single**' or "**double quotes**"

In [3]:
type('data science')    # characters can be letters

str

In [4]:
type("12345")   # characters can be numbers

str

In [5]:
type(":,<>/?|\!@#%^&*~-+'") # characters can also be symbols as long as they are properly enclosed within quotes

str

## Lists
Lists are **ordered sequences** that can hold a variety of object types
They use **[square brackets]** and **commas**

In [8]:
my_list1 = [1,2,3,4,5]
type(my_list1)

list

In [9]:
print(my_list1)

[1, 2, 3, 4, 5]

In [10]:
my_list2 = ['list','full','of','strings']
type(my_list2)

list

In [11]:
print(my_list2)

['list', 'full', 'of', 'strings']

## [Dictionaries](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)
Dictionaries are **unordered mappings** for storing objects that use **key-value pairs**

This pairing allows uses to quickly grab objects without needing to know an index location

Dictionaries use **curly braces and colons** to signify keys and their associated values

In [12]:
my_dict1 = {'key1':'value1','key2':'value2','keyn':'valuen'}
type(my_dict1)

dict

Dictionaries can be indexed by their key, the syntax looks as follows:

`dict_name['key_name']`

In [76]:
my_dict1['key1']

'value1'

In [13]:
my_dict2 = {1:'one',2:'two',3:'three',4:'four',5:'five'}
type(my_dict2)

dict

In [14]:
my_dict2[3]

'three'

## Tuples
Tuples are like lists, however, they are immutable meaning once an element is inside a tuple it cannot be reassigned
Tuples use (**parentheses**)

In [15]:
my_tup = (5,4,3,2,1)
type(my_tup)

tuple

In [16]:
print(my_tup)

(5, 4, 3, 2, 1)

In [17]:
my_tup[1] = 6   # if we try to reassign the object at index 1 an error is raised as tuples are immutable

TypeError: 'tuple' object does not support item assignment

## Sets
Sets are **unordered** collections of **unique** elements
Sets use {**curly braces**}

In [18]:
my_set = {1,2,2,3,3,3,4,4,4,4}
type(my_set)

set

In [19]:
print(my_set)   # notice how only unique elements are returned

{1, 2, 3, 4}

## Booleans
Booleans are operators that allow you to convey **True** or **False** statements

In [20]:
type(True)

bool

In [21]:
type(False)

bool

In [22]:
True == 1   # the True keyword is equal to the integer 1 in python

True

In [23]:
False == 0 # the False keyword is equal to the integer 0 in python

True

In [24]:
x = 5   # assign the variable x a value of five
x == 6  # evaluate if x is equal to six

False

In [25]:
3 < 4   # evaluate if 3 is less than 4

True