# Numbers & Operators
- Arithmetic - Perform common mathematical operations
- Assignment - Perform operations on values and variables then assign the result to a variable
- Comparison - Compare variables and output a Boolean value (True or False)
- Logical - Combine conditional statements and output a Boolean value (True or False)
- Identity - Compare two objects and output a Boolean value (True or False)
- Membership - Test if a sequence is in an object and output a Boolean value (True or False)

Integers - whole numbers

In [2]:
type(1)

int

In [3]:
type(-1)

int

Floating Point Numbers - decimal numbers

In [4]:
type(1.1)

float

In [5]:
type(-1.1)

float

In [6]:
1e6 # one times ten to the power of six (exponential)

1000000.0

## Arithmetic
Perform common mathematical operations:
`+` Addition
`-` Subtraction
`*` Multiplication
`**` Exponentiation
`/` Division
`//` Floor Division
`%` Modulo

In [7]:
1+1 # Addition

2

In [8]:
1-1 # Subtraction

0

In [9]:
2*3 # Multiplication

6

In [10]:
2**3 # Exponentiation

8

In [11]:
5/2 # Division

2.5

In [12]:
5//2 # Floor Division (Removes decimal without rounding and returns an integer)

2

In [13]:
5%2 # Modulo Operator (Returns the remainder after division)

1

## Assignment operators
Assignment operators allow you to perform operations on values and variables then assign the result to a variable

The syntax used is a mathematical operator followed by an equals sign

Perform common mathematical operations and assign to a variable:
`+=` Addition
`-=` Subtraction
`*=` Multiplication
`**=` Exponentiation
`/=` Division
`//=` Floor Division
`%=` Modulo

In [14]:
# For the purpose of these examples we will reassign the variable a the value of 2 every time, apply the assignment operator then re-check the value of a
a = 2   # Assignment
a

2

In [15]:
a = 2
a += a  # Add and assign (a=a+a)
a

4

In [16]:
a = 2
a -= a  # Subtract and assign (a=a-a)
a

0

In [17]:
a = 2
a *= a  # Multiply and assign (a=a*a)
a

4

In [18]:
a = 2
a /= a  # Divide and assign (a=a/a)
a

1.0

In [19]:
a = 2
a %= a  # Modulus and assign (a=a%a)
a

0

In [20]:
a = 2
a //= a # Divide (floor) and assign (a=a//a)
a

1

In [21]:
a = 2
a **=2  # Exponent and assign (a=a**a)
a

4

## Comparison operators
Comparison Operators allow you to compare variables and output a Boolean value (True or False)

`==` Equality
`!=` Inequality
`>` Greater-than
`<` Less-than
`>=` Greater than or equal to
`<=` Less than or equal to

In [22]:
x = 1   # assign variable x the value 1
y = 2   # assign variable y the value 2

In [23]:
x == y  # 1 is equal to 2

False

In [24]:
x != y # 1 is not equal to 2

True

In [25]:
x > y # 1 is greater than 2

False

In [26]:
x < y # 1 is less than 2

True

In [27]:
x >= y # 1 is greater than or equal to 2

False

In [28]:
x <= y # 1 is less than or equal to 2

True

# Logical operators
It is possible to combine conditional statements using logical operators

`and` Returns True if both statements are true

`or` Returns True if one of the statements is true

`not` Returns False if the statement is true (and vice versa)

In [29]:
1 > 2 and 3 < 4 # 1 is greater than two and three is less than four

False

In [30]:
1 > 2 or 3 < 4 # 1 is greater than two or three is less than for

True

In [31]:
not(1<2)    # 1 is not less than 2

False

In [32]:
not(1>2)    # 1 is not greater than 2

True

## Identity operators
Identity operators compare two objects

`is` returns `True` if both objects are the same
`is not` returns `False` if both objects are not the same

In [33]:
x = 1   # assign x the integer 1
y = 1.0 # assign y the float 1.0

In [34]:
x is y  # the integer 1 the same as the float 1.0

False

In [35]:
x is not y # the integer 1 is not the same as the float 1.0

True

## Membership operators

Membership operators test if a sequence is in an object

`in` returns `True` if the sequence is present in an object
`not` returns `True` if the sequence is not present in an object

In [36]:
x = [1,2,3,4,5]

In [37]:
3 in x # 3 is in the list [1,2,3,4,5]

True

In [38]:
6 not in x # 6 is not in the list [1,2,3,4,5]

True