# Pandas - [Groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [3]:
by_Company = df.groupby('Company')

In [5]:
by_Company.mean()    #caluclate the mean sales of each company

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [6]:
by_Company.sum()     #calculate the total sales of each company

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [7]:
by_Company.std()     #calculate the standard deviation of each company

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [16]:
df.groupby('Person').max()["Sales"]       #rank by highest sales

Person
Amy        340
Carl       243
Charlie    120
Sam        200
Sarah      350
Vanessa    124
Name: Sales, dtype: int64

In [17]:
df.groupby('Company').describe()   #calculate summary statistics for each company

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [18]:
df.groupby('Company').describe().transpose()['GOOG']    #calculate summary statistics for GOOG with company as a column

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64