# Create Read Update Delete

In [1]:
import pandas as pd

## 1. Create

### 1.1 Create a DataFrame from a CSV file

In [2]:
df = pd.read_csv('Top 50.csv', encoding= 'unicode_escape')

### 1.2 Create a DataFrame from a Dictionary

In [3]:
my_dict = {'col1':[1,2,3], 'col2':[4,5,6], 'col3':[7,8,9]}

In [4]:
dict_df = pd.DataFrame(my_dict)

## 2. Read

### 2.1 Show top 5 and bottom 5 rows of data

In [5]:
df.head()

,Rank,Account username,Account Name,Followers (millions),Occupation,Country
0,1,@BarackObama,Barack Obama,132.0,44th President of the United States of America,United States
1,2,@justinbieber,Justin Bieber,114.2,Musician,Canada
2,3,@katyperry,Katy Perry,108.8,Musician,United States
3,4,@rihanna,Rihanna,106.7,Musician,Barbados
4,5,@Cristiano,Cristiano Ronaldo,100.6,Football player,Portugal

In [6]:
df.tail()

,Rank,Account username,Account Name,Followers (millions),Occupation,Country
45,46,@sportscenter,SportsCenter,40.0,Sports channel,United States
46,47,@KylieJenner,Kylie Jenner,39.9,Television personality,United States
47,48,@drake,Drake,39.5,Rapper,Canada
48,49,@bts_bighit,BTS,39.2,Musicians/K-pop,South Korea
49,50,@Harry_Styles,Harry Styles,37.7,Musician,United Kingdom

### 2.2 Show Columns and Data Type

In [7]:
df.columns

Index(['Rank', 'Account username', 'Account Name', 'Followers (millions)',
       'Occupation', 'Country'],
      dtype='object')

In [8]:
df.dtypes

Rank                      int64
Account username         object
Account Name             object
Followers (millions)    float64
Occupation               object
Country                  object
dtype: object

### 2.3 Summary Statistics

In [9]:
df.describe()

           Rank  Followers (millions)
count  50.00000             50.000000
mean   25.50000             61.348000
std    14.57738             23.214837
min     1.00000             37.700000
25%    13.25000             43.425000
50%    25.50000             52.900000
75%    37.75000             74.525000
max    50.00000            132.000000

In [10]:
df.describe(include='object')

       Account username Account Name Occupation         Country
count                50           50         50              50
unique               50           49         25              12
top        @BarackObama          BTS   Musician   United States
freq                  1            2          9              29

### 2.4 Filtering Columns

In [11]:
df.Occupation

0     44th President of the United States of America
1                                           Musician
2                                           Musician
3                                           Musician
4                                    Football player
5                      Engineer and Business magnate
6                                           Musician
7     45th President of the United States of America
8                               Musician and actress
9                               Musician and actress
10                           Prime Minister of India
11                      Comedian and television host
12                     Online video sharing platform
13                            Television personality
14                              Musician and actress
15                                Musician and actor
16                                      News channel
17                             Social media platform
18                    Businessman and philanthropist
19                                      News channel
20                             American space agency
21                                   Football player
22                                          Musician
23                              Musician and actress
24                                         Newspaper
25                                          Musician
26                      Comedian and television host
27                                 Basketball player
28                                      News channel
29             Office of the Prime Minister of India
30                                    Cricket player
31                                             Actor
32                              Musician and actress
33                                   Musicians/K-pop
34                              Musician and actress
35                                             Actor
36                                             Actor
37                            Television personality
38                                          Musician
39                                             Actor
40                                     Football club
41                                     Football club
42                                          Musician
43                               Football tournament
44                                    Sports channel
45                                    Sports channel
46                            Television personality
47                                            Rapper
48                                   Musicians/K-pop
49                                          Musician
Name: Occupation, dtype: object

In [12]:
df[['Account Name', 'Occupation']]

             Account Name                                      Occupation
0            Barack Obama  44th President of the United States of America
1           Justin Bieber                                        Musician
2              Katy Perry                                        Musician
3                 Rihanna                                        Musician
4       Cristiano Ronaldo                                 Football player
5               Elon Musk                   Engineer and Business magnate
6            Taylor Swift                                        Musician
7            Donald Trump  45th President of the United States of America
8           Ariana Grande                            Musician and actress
9               Lady Gaga                            Musician and actress
10          Narendra Modi                         Prime Minister of India
11        Ellen DeGeneres                    Comedian and television host
12                YouTube                   Online video sharing platform
13         Kim Kardashian                          Television personality
14           Selena Gomez                            Musician and actress
15      Justin Timberlake                              Musician and actor
16      CNN Breaking News                                    News channel
17                Twitter                           Social media platform
18             Bill Gates                  Businessman and philanthropist
19                    CNN                                    News channel
20                   NASA                           American space agency
21                 Neymar                                 Football player
22         Britney Spears                                        Musician
23            Demi Lovato                            Musician and actress
24     The New York Times                                       Newspaper
25                Shakira                                        Musician
26           Jimmy Fallon                    Comedian and television host
27           LeBron James                               Basketball player
28      BBC Breaking News                                    News channel
29              PMO India           Office of the Prime Minister of India
30            Virat Kohli                                  Cricket player
31       Amitabh Bachchan                                           Actor
32            Miley Cyrus                            Musician and actress
33                    BTS                                 Musicians/K-pop
34         Jennifer Lopez                            Musician and actress
35           Akshay Kumar                                           Actor
36            Salman Khan                                           Actor
37          Oprah Winfrey                          Television personality
38             Bruno Mars                                        Musician
39         Shah Rukh Khan                                           Actor
40         Real Madrid CF                                   Football club
41           FC Barcelona                                   Football club
42            Niall Horan                                        Musician
43  UEFA Champions League                             Football tournament
44                   ESPN                                  Sports channel
45           SportsCenter                                  Sports channel
46           Kylie Jenner                          Television personality
47                  Drake                                          Rapper
48                    BTS                                 Musicians/K-pop
49           Harry Styles                                        Musician

### 2.5 Filtering on Rows

In [13]:
df[df['Account username']=='@NASA']

,Rank,Account username,Account Name,Followers (millions),Occupation,Country
20,21,@NASA,NASA,57.3,American space agency,United States

### 2.6 Indexing rows with iloc

In [14]:
df.iloc[1]

Rank                                2
Account username        @justinbieber
Account Name            Justin Bieber
Followers (millions)            114.2
Occupation                   Musician
Country                        Canada
Name: 1, dtype: object

In [15]:
df.iloc[1,2]

'Justin Bieber'

In [16]:
df.iloc[0:4]

,Rank,Account username,Account Name,Followers (millions),Occupation,Country
0,1,@BarackObama,Barack Obama,132.0,44th President of the United States of America,United States
1,2,@justinbieber,Justin Bieber,114.2,Musician,Canada
2,3,@katyperry,Katy Perry,108.8,Musician,United States
3,4,@rihanna,Rihanna,106.7,Musician,Barbados

### 2.7 Indexing with loc

In [17]:
indexed_df = df.copy()
indexed_df.set_index('Rank', inplace=True)

In [18]:
indexed_df.head()

,Account username,Account Name,Followers (millions),Occupation,Country
Rank,,,,,
1,@BarackObama,Barack Obama,132.0,44th President of the United States of America,United States
2,@justinbieber,Justin Bieber,114.2,Musician,Canada
3,@katyperry,Katy Perry,108.8,Musician,United States
4,@rihanna,Rihanna,106.7,Musician,Barbados
5,@Cristiano,Cristiano Ronaldo,100.6,Football player,Portugal

In [19]:
indexed_df.loc[5]

Account username               @Cristiano
Account Name            Cristiano Ronaldo
Followers (millions)                100.6
Occupation                Football player
Country                          Portugal
Name: 5, dtype: object

## 3. Update

### 3.1 Dropping Rows

In [20]:
df.drop(12,axis=0)

,Rank,Account username,Account Name,Followers (millions),Occupation,Country
0,1,@BarackObama,Barack Obama,132.0,44th President of the United States of America,United States
1,2,@justinbieber,Justin Bieber,114.2,Musician,Canada
2,3,@katyperry,Katy Perry,108.8,Musician,United States
3,4,@rihanna,Rihanna,106.7,Musician,Barbados
4,5,@Cristiano,Cristiano Ronaldo,100.6,Football player,Portugal
5,6,@elonmusk,Elon Musk,96.2,Engineer and Business magnate,United States
6,7,@taylorswift13,Taylor Swift,90.3,Musician,United States
7,8,@realDonaldTrump[3],Donald Trump,88.8,45th President of the United States of America,United States
8,9,@ArianaGrande[4],Ariana Grande,85.3,Musician and actress,United States
9,10,@ladygaga,Lady Gaga,84.7,Musician and actress,United States
10,11,@narendramodi,Narendra Modi,79.3,Prime Minister of India,India
11,12,@TheEllenShow,Ellen DeGeneres,77.5,Comedian and television host,United States
13,14,@KimKardashian,Kim Kardashian,72.5,Television personality,United States
14,15,@selenagomez,Selena Gomez,65.8,Musician and actress,United States
15,16,@jtimberlake,Justin Timberlake,63.1,Musician and actor,United States
16,17,@cnnbrk,CNN Breaking News,63.1,News channel,United States
17,18,@Twitter[a],Twitter,61.8,Social media platform,United States
18,19,@BillGates,Bill Gates,59.1,Businessman and philanthropist,United States
19,20,@CNN,CNN,58.2,News channel,United States
20,21,@NASA,NASA,57.3,American space agency,United States
21,22,@neymarjr,Neymar,56.8,Football player,Brazil
22,23,@britneyspears,Britney Spears,55.8,Musician,United States
23,24,@ddlovato,Demi Lovato,54.1,Musician and actress,United States
24,25,@nytimes,The New York Times,53.0,Newspaper,United States
25,26,@shakira,Shakira,52.8,Musician,Colombia
26,27,@jimmyfallon,Jimmy Fallon,51.4,Comedian and television host,United States
27,28,@kingjames,LeBron James,51.3,Basketball player,United States
28,29,@bbcbreaking,BBC Breaking News,50.0,News channel,United Kingdom
29,30,@pmoindia,PMO India,48.4,Office of the Prime Minister of India,India
30,31,@imvkohli,Virat Kohli,48.1,Cricket player,India
31,32,@srbachchan,Amitabh Bachchan,47.4,Actor,India
32,33,@MileyCyrus,Miley Cyrus,46.7,Musician and actress,United States
33,34,@bts_twt,BTS,46.0,Musicians/K-pop,South Korea
34,35,@JLo,Jennifer Lopez,45.3,Musician and actress,United States
35,36,@akshaykumar,Akshay Kumar,44.6,Actor,India
36,37,@beingsalmankhan,Salman Khan,44.1,Actor,India
37,38,@oprah,Oprah Winfrey,43.2,Television personality,United States
38,39,@brunomars,Bruno Mars,43.2,Musician,United States
39,40,@iamsrk,Shah Rukh Khan,42.5,Actor,India
40,41,@realmadrid,Real Madrid CF,41.8,Football club,Spain
41,42,@fcbarcelona,FC Barcelona,41.5,Football club,Spain
42,43,@niallofficial,Niall Horan,41.3,Musician,Ireland
43,44,@championsleague,UEFA Champions League,41.1,Football tournament,Europe
44,45,@espn,ESPN,40.2,Sports channel,United States
45,46,@sportscenter,SportsCenter,40.0,Sports channel,United States
46,47,@KylieJenner,Kylie Jenner,39.9,Television personality,United States
47,48,@drake,Drake,39.5,Rapper,Canada
48,49,@bts_bighit,BTS,39.2,Musicians/K-pop,South Korea
49,50,@Harry_Styles,Harry Styles,37.7,Musician,United Kingdom

### 3.2 Dropping Columns

In [21]:
df.drop('Account username', axis=1)

,Rank,Account Name,Followers (millions),Occupation,Country
0,1,Barack Obama,132.0,44th President of the United States of America,United States
1,2,Justin Bieber,114.2,Musician,Canada
2,3,Katy Perry,108.8,Musician,United States
3,4,Rihanna,106.7,Musician,Barbados
4,5,Cristiano Ronaldo,100.6,Football player,Portugal
5,6,Elon Musk,96.2,Engineer and Business magnate,United States
6,7,Taylor Swift,90.3,Musician,United States
7,8,Donald Trump,88.8,45th President of the United States of America,United States
8,9,Ariana Grande,85.3,Musician and actress,United States
9,10,Lady Gaga,84.7,Musician and actress,United States
10,11,Narendra Modi,79.3,Prime Minister of India,India
11,12,Ellen DeGeneres,77.5,Comedian and television host,United States
12,13,YouTube,75.2,Online video sharing platform,United States
13,14,Kim Kardashian,72.5,Television personality,United States
14,15,Selena Gomez,65.8,Musician and actress,United States
15,16,Justin Timberlake,63.1,Musician and actor,United States
16,17,CNN Breaking News,63.1,News channel,United States
17,18,Twitter,61.8,Social media platform,United States
18,19,Bill Gates,59.1,Businessman and philanthropist,United States
19,20,CNN,58.2,News channel,United States
20,21,NASA,57.3,American space agency,United States
21,22,Neymar,56.8,Football player,Brazil
22,23,Britney Spears,55.8,Musician,United States
23,24,Demi Lovato,54.1,Musician and actress,United States
24,25,The New York Times,53.0,Newspaper,United States
25,26,Shakira,52.8,Musician,Colombia
26,27,Jimmy Fallon,51.4,Comedian and television host,United States
27,28,LeBron James,51.3,Basketball player,United States
28,29,BBC Breaking News,50.0,News channel,United Kingdom
29,30,PMO India,48.4,Office of the Prime Minister of India,India
30,31,Virat Kohli,48.1,Cricket player,India
31,32,Amitabh Bachchan,47.4,Actor,India
32,33,Miley Cyrus,46.7,Musician and actress,United States
33,34,BTS,46.0,Musicians/K-pop,South Korea
34,35,Jennifer Lopez,45.3,Musician and actress,United States
35,36,Akshay Kumar,44.6,Actor,India
36,37,Salman Khan,44.1,Actor,India
37,38,Oprah Winfrey,43.2,Television personality,United States
38,39,Bruno Mars,43.2,Musician,United States
39,40,Shah Rukh Khan,42.5,Actor,India
40,41,Real Madrid CF,41.8,Football club,Spain
41,42,FC Barcelona,41.5,Football club,Spain
42,43,Niall Horan,41.3,Musician,Ireland
43,44,UEFA Champions League,41.1,Football tournament,Europe
44,45,ESPN,40.2,Sports channel,United States
45,46,SportsCenter,40.0,Sports channel,United States
46,47,Kylie Jenner,39.9,Television personality,United States
47,48,Drake,39.5,Rapper,Canada
48,49,BTS,39.2,Musicians/K-pop,South Korea
49,50,Harry Styles,37.7,Musician,United Kingdom

### 3.3 Creating Columns

In [22]:
df['n followers'] = df['Followers (millions)'] * 1000000

In [23]:
df.head()

,Rank,Account username,Account Name,Followers (millions),Occupation,Country,n followers
0,1,@BarackObama,Barack Obama,132.0,44th President of the United States of America,United States,132000000.0
1,2,@justinbieber,Justin Bieber,114.2,Musician,Canada,114200000.0
2,3,@katyperry,Katy Perry,108.8,Musician,United States,108800000.0
3,4,@rihanna,Rihanna,106.7,Musician,Barbados,106700000.0
4,5,@Cristiano,Cristiano Ronaldo,100.6,Football player,Portugal,100600000.0

### 3.4 Updating Columns

In [24]:
df['n followers'] = 'Followers (millions) * 1000000'

In [25]:
df.head()

,Rank,Account username,Account Name,Followers (millions),Occupation,Country,n followers
0,1,@BarackObama,Barack Obama,132.0,44th President of the United States of America,United States,Followers (millions) * 1000000
1,2,@justinbieber,Justin Bieber,114.2,Musician,Canada,Followers (millions) * 1000000
2,3,@katyperry,Katy Perry,108.8,Musician,United States,Followers (millions) * 1000000
3,4,@rihanna,Rihanna,106.7,Musician,Barbados,Followers (millions) * 1000000
4,5,@Cristiano,Cristiano Ronaldo,100.6,Football player,Portugal,Followers (millions) * 1000000

### 3.5 Updating a Single Value

In [26]:
df.iloc[0,3] = 'THE MOST'

In [27]:
df.head()

,Rank,Account username,Account Name,Followers (millions),Occupation,Country,n followers
0,1,@BarackObama,Barack Obama,THE MOST,44th President of the United States of America,United States,Followers (millions) * 1000000
1,2,@justinbieber,Justin Bieber,114.2,Musician,Canada,Followers (millions) * 1000000
2,3,@katyperry,Katy Perry,108.8,Musician,United States,Followers (millions) * 1000000
3,4,@rihanna,Rihanna,106.7,Musician,Barbados,Followers (millions) * 1000000
4,5,@Cristiano,Cristiano Ronaldo,100.6,Football player,Portugal,Followers (millions) * 1000000

### Condition based Updating using Apply

In [33]:
df.iloc[0,5]

'\xa0United States'

In [34]:
df['American'] = df['Country'].apply(lambda x : 1 if x=='\xa0United States' else 0)

In [35]:
df[df['American']==True].head()

,Rank,Account username,Account Name,Followers (millions),Occupation,Country,n followers,American
0,1,@BarackObama,Barack Obama,THE MOST,44th President of the United States of America,United States,Followers (millions) * 1000000,1
2,3,@katyperry,Katy Perry,108.8,Musician,United States,Followers (millions) * 1000000,1
5,6,@elonmusk,Elon Musk,96.2,Engineer and Business magnate,United States,Followers (millions) * 1000000,1
6,7,@taylorswift13,Taylor Swift,90.3,Musician,United States,Followers (millions) * 1000000,1
7,8,@realDonaldTrump[3],Donald Trump,88.8,45th President of the United States of America,United States,Followers (millions) * 1000000,1

## 4. Delete/Output

### 4.1 Output to CSV

In [36]:
df.to_csv('output.csv')

### 4.2 Output to JSON

In [37]:
df.to_json()

'{"Rank":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10,"10":11,"11":12,"12":13,"13":14,"14":15,"15":16,"16":17,"17":18,"18":19,"19":20,"20":21,"21":22,"22":23,"23":24,"24":25,"25":26,"26":27,"27":28,"28":29,"29":30,"30":31,"31":32,"32":33,"33":34,"34":35,"35":36,"36":37,"37":38,"38":39,"39":40,"40":41,"41":42,"42":43,"43":44,"44":45,"45":46,"46":47,"47":48,"48":49,"49":50},"Account username":{"0":"@BarackObama","1":"@justinbieber","2":"@katyperry","3":"@rihanna","4":"@Cristiano","5":"@elonmusk","6":"@taylorswift13","7":"@realDonaldTrump[3]","8":"@ArianaGrande[4]","9":"@ladygaga","10":"@narendramodi","11":"@TheEllenShow","12":"@YouTube","13":"@KimKardashian","14":"@selenagomez","15":"@jtimberlake","16":"@cnnbrk","17":"@Twitter[a]","18":"@BillGates","19":"@CNN","20":"@NASA","21":"@neymarjr","22":"@britneyspears","23":"@ddlovato","24":"@nytimes","25":"@shakira","26":"@jimmyfallon","27":"@kingjames","28":"@bbcbreaking","29":"@pmoindia","30":"@imvkohli","31":"@srbachchan","32":"@MileyCyrus","33":"@bts_twt","34":"@JLo","35":"@akshaykumar","36":"@beingsalmankhan","37":"@oprah","38":"@brunomars","39":"@iamsrk","40":"@realmadrid","41":"@fcbarcelona","42":"@niallofficial","43":"@championsleague","44":"@espn","45":"@sportscenter","46":"@KylieJenner","47":"@drake","48":"@bts_bighit","49":"@Harry_Styles"},"Account Name":{"0":"Barack Obama","1":"Justin Bieber","2":"Katy Perry","3":"Rihanna","4":"Cristiano Ronaldo","5":"Elon Musk","6":"Taylor Swift","7":"Donald Trump","8":"Ariana Grande","9":"Lady Gaga","10":"Narendra Modi","11":"Ellen DeGeneres","12":"YouTube","13":"Kim Kardashian","14":"Selena Gomez","15":"Justin Timberlake","16":"CNN Breaking News","17":"Twitter","18":"Bill Gates","19":"CNN","20":"NASA","21":"Neymar","22":"Britney Spears","23":"Demi Lovato","24":"The New York Times","25":"Shakira","26":"Jimmy Fallon","27":"LeBron James","28":"BBC Breaking News","29":"PMO India","30":"Virat Kohli","31":"Amitabh Bachchan","32":"Miley Cyrus","33":"BTS","34":"Jennifer Lopez","35":"Akshay Kumar","36":"Salman Khan","37":"Oprah Winfrey","38":"Bruno Mars","39":"Shah Rukh Khan","40":"Real Madrid CF","41":"FC Barcelona","42":"Niall Horan","43":"UEFA Champions League","44":"ESPN","45":"SportsCenter","46":"Kylie Jenner","47":"Drake","48":"BTS","49":"Harry Styles"},"Followers (millions)":{"0":"THE MOST","1":114.2,"2":108.8,"3":106.7,"4":100.6,"5":96.2,"6":90.3,"7":88.8,"8":85.3,"9":84.7,"10":79.3,"11":77.5,"12":75.2,"13":72.5,"14":65.8,"15":63.1,"16":63.1,"17":61.8,"18":59.1,"19":58.2,"20":57.3,"21":56.8,"22":55.8,"23":54.1,"24":53.0,"25":52.8,"26":51.4,"27":51.3,"28":50.0,"29":48.4,"30":48.1,"31":47.4,"32":46.7,"33":46.0,"34":45.3,"35":44.6,"36":44.1,"37":43.2,"38":43.2,"39":42.5,"40":41.8,"41":41.5,"42":41.3,"43":41.1,"44":40.2,"45":40.0,"46":39.9,"47":39.5,"48":39.2,"49":37.7},"Occupation":{"0":"44th President of the United States of America","1":"Musician","2":"Musician","3":"Musician","4":"Football player","5":"Engineer and Business magnate","6":"Musician","7":"45th President of the United States of America","8":"Musician and actress","9":"Musician and actress","10":"Prime Minister of India","11":"Comedian and television host","12":"Online video sharing platform","13":"Television personality","14":"Musician and actress","15":"Musician and actor","16":"News channel","17":"Social media platform","18":"Businessman and philanthropist","19":"News channel","20":"American space agency","21":"Football player","22":"Musician","23":"Musician and actress","24":"Newspaper","25":"Musician","26":"Comedian and television host","27":"Basketball player","28":"News channel","29":"Office of the Prime Minister of India","30":"Cricket player","31":"Actor","32":"Musician and actress","33":"Musicians\\/K-pop","34":"Musician and actress","35":"Actor","36":"Actor","37":"Television personality","38":"Musician","39":"Actor","40":"Football club","41":"Football club","42":"Musician","43":"Football tournament","44":"Sports channel","45":"Sports channel","46":"Television personality","47":"Rapper","48":"Musicians\\/K-pop","49":"Musician"},"Country":{"0":"\\u00a0United States","1":"\\u00a0Canada","2":"\\u00a0United States","3":"\\u00a0Barbados","4":"\\u00a0Portugal","5":"\\u00a0United States","6":"\\u00a0United States","7":"\\u00a0United States","8":"\\u00a0United States","9":"\\u00a0United States","10":"\\u00a0India","11":"\\u00a0United States","12":"\\u00a0United States","13":"\\u00a0United States","14":"\\u00a0United States","15":"\\u00a0United States","16":"\\u00a0United States","17":"\\u00a0United States","18":"\\u00a0United States","19":"\\u00a0United States","20":"\\u00a0United States","21":"\\u00a0Brazil","22":"\\u00a0United States","23":"\\u00a0United States","24":"\\u00a0United States","25":"\\u00a0Colombia","26":"\\u00a0United States","27":"\\u00a0United States","28":"\\u00a0United Kingdom","29":"\\u00a0India","30":"\\u00a0India","31":"\\u00a0India","32":"\\u00a0United States","33":"\\u00a0South Korea","34":"\\u00a0United States","35":"\\u00a0India","36":"\\u00a0India","37":"\\u00a0United States","38":"\\u00a0United States","39":"\\u00a0India","40":"\\u00a0Spain","41":"\\u00a0Spain","42":"\\u00a0Ireland","43":"\\u00a0Europe","44":"\\u00a0United States","45":"\\u00a0United States","46":"\\u00a0United States","47":"\\u00a0Canada","48":"\\u00a0South Korea","49":"\\u00a0United Kingdom"},"n followers":{"0":"Followers (millions) * 1000000","1":"Followers (millions) * 1000000","2":"Followers (millions) * 1000000","3":"Followers (millions) * 1000000","4":"Followers (millions) * 1000000","5":"Followers (millions) * 1000000","6":"Followers (millions) * 1000000","7":"Followers (millions) * 1000000","8":"Followers (millions) * 1000000","9":"Followers (millions) * 1000000","10":"Followers (millions) * 1000000","11":"Followers (millions) * 1000000","12":"Followers (millions) * 1000000","13":"Followers (millions) * 1000000","14":"Followers (millions) * 1000000","15":"Followers (millions) * 1000000","16":"Followers (millions) * 1000000","17":"Followers (millions) * 1000000","18":"Followers (millions) * 1000000","19":"Followers (millions) * 1000000","20":"Followers (millions) * 1000000","21":"Followers (millions) * 1000000","22":"Followers (millions) * 1000000","23":"Followers (millions) * 1000000","24":"Followers (millions) * 1000000","25":"Followers (millions) * 1000000","26":"Followers (millions) * 1000000","27":"Followers (millions) * 1000000","28":"Followers (millions) * 1000000","29":"Followers (millions) * 1000000","30":"Followers (millions) * 1000000","31":"Followers (millions) * 1000000","32":"Followers (millions) * 1000000","33":"Followers (millions) * 1000000","34":"Followers (millions) * 1000000","35":"Followers (millions) * 1000000","36":"Followers (millions) * 1000000","37":"Followers (millions) * 1000000","38":"Followers (millions) * 1000000","39":"Followers (millions) * 1000000","40":"Followers (millions) * 1000000","41":"Followers (millions) * 1000000","42":"Followers (millions) * 1000000","43":"Followers (millions) * 1000000","44":"Followers (millions) * 1000000","45":"Followers (millions) * 1000000","46":"Followers (millions) * 1000000","47":"Followers (millions) * 1000000","48":"Followers (millions) * 1000000","49":"Followers (millions) * 1000000"},"American":{"0":1,"1":0,"2":1,"3":0,"4":0,"5":1,"6":1,"7":1,"8":1,"9":1,"10":0,"11":1,"12":1,"13":1,"14":1,"15":1,"16":1,"17":1,"18":1,"19":1,"20":1,"21":0,"22":1,"23":1,"24":1,"25":0,"26":1,"27":1,"28":0,"29":0,"30":0,"31":0,"32":1,"33":0,"34":1,"35":0,"36":0,"37":1,"38":1,"39":0,"40":0,"41":0,"42":0,"43":0,"44":1,"45":1,"46":1,"47":0,"48":0,"49":0}}'

### 4.3 Output to HTML

In [38]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Rank</th>\n      <th>Account username</th>\n      <th>Account Name</th>\n      <th>Followers (millions)</th>\n      <th>Occupation</th>\n      <th>Country</th>\n      <th>n followers</th>\n      <th>American</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>@BarackObama</td>\n      <td>Barack Obama</td>\n      <td>THE MOST</td>\n      <td>44th President of the United States of America</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>@justinbieber</td>\n      <td>Justin Bieber</td>\n      <td>114.2</td>\n      <td>Musician</td>\n      <td>Canada</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>@katyperry</td>\n      <td>Katy Perry</td>\n      <td>108.8</td>\n      <td>Musician</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>@rihanna</td>\n      <td>Rihanna</td>\n      <td>106.7</td>\n      <td>Musician</td>\n      <td>Barbados</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>@Cristiano</td>\n      <td>Cristiano Ronaldo</td>\n      <td>100.6</td>\n      <td>Football player</td>\n      <td>Portugal</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>@elonmusk</td>\n      <td>Elon Musk</td>\n      <td>96.2</td>\n      <td>Engineer and Business magnate</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>@taylorswift13</td>\n      <td>Taylor Swift</td>\n      <td>90.3</td>\n      <td>Musician</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>@realDonaldTrump[3]</td>\n      <td>Donald Trump</td>\n      <td>88.8</td>\n      <td>45th President of the United States of America</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>@ArianaGrande[4]</td>\n      <td>Ariana Grande</td>\n      <td>85.3</td>\n      <td>Musician and actress</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>@ladygaga</td>\n      <td>Lady Gaga</td>\n      <td>84.7</td>\n      <td>Musician and actress</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>11</td>\n      <td>@narendramodi</td>\n      <td>Narendra Modi</td>\n      <td>79.3</td>\n      <td>Prime Minister of India</td>\n      <td>India</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>12</td>\n      <td>@TheEllenShow</td>\n      <td>Ellen DeGeneres</td>\n      <td>77.5</td>\n      <td>Comedian and television host</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>13</td>\n      <td>@YouTube</td>\n      <td>YouTube</td>\n      <td>75.2</td>\n      <td>Online video sharing platform</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>14</td>\n      <td>@KimKardashian</td>\n      <td>Kim Kardashian</td>\n      <td>72.5</td>\n      <td>Television personality</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>15</td>\n      <td>@selenagomez</td>\n      <td>Selena Gomez</td>\n      <td>65.8</td>\n      <td>Musician and actress</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>16</td>\n      <td>@jtimberlake</td>\n      <td>Justin Timberlake</td>\n      <td>63.1</td>\n      <td>Musician and actor</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>17</td>\n      <td>@cnnbrk</td>\n      <td>CNN Breaking News</td>\n      <td>63.1</td>\n      <td>News channel</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>18</td>\n      <td>@Twitter[a]</td>\n      <td>Twitter</td>\n      <td>61.8</td>\n      <td>Social media platform</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>19</td>\n      <td>@BillGates</td>\n      <td>Bill Gates</td>\n      <td>59.1</td>\n      <td>Businessman and philanthropist</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>20</td>\n      <td>@CNN</td>\n      <td>CNN</td>\n      <td>58.2</td>\n      <td>News channel</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>21</td>\n      <td>@NASA</td>\n      <td>NASA</td>\n      <td>57.3</td>\n      <td>American space agency</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>22</td>\n      <td>@neymarjr</td>\n      <td>Neymar</td>\n      <td>56.8</td>\n      <td>Football player</td>\n      <td>Brazil</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>23</td>\n      <td>@britneyspears</td>\n      <td>Britney Spears</td>\n      <td>55.8</td>\n      <td>Musician</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>24</td>\n      <td>@ddlovato</td>\n      <td>Demi Lovato</td>\n      <td>54.1</td>\n      <td>Musician and actress</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>25</td>\n      <td>@nytimes</td>\n      <td>The New York Times</td>\n      <td>53.0</td>\n      <td>Newspaper</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>26</td>\n      <td>@shakira</td>\n      <td>Shakira</td>\n      <td>52.8</td>\n      <td>Musician</td>\n      <td>Colombia</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>27</td>\n      <td>@jimmyfallon</td>\n      <td>Jimmy Fallon</td>\n      <td>51.4</td>\n      <td>Comedian and television host</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>28</td>\n      <td>@kingjames</td>\n      <td>LeBron James</td>\n      <td>51.3</td>\n      <td>Basketball player</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>29</td>\n      <td>@bbcbreaking</td>\n      <td>BBC Breaking News</td>\n      <td>50.0</td>\n      <td>News channel</td>\n      <td>United Kingdom</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>30</td>\n      <td>@pmoindia</td>\n      <td>PMO India</td>\n      <td>48.4</td>\n      <td>Office of the Prime Minister of India</td>\n      <td>India</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>31</td>\n      <td>@imvkohli</td>\n      <td>Virat Kohli</td>\n      <td>48.1</td>\n      <td>Cricket player</td>\n      <td>India</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>32</td>\n      <td>@srbachchan</td>\n      <td>Amitabh Bachchan</td>\n      <td>47.4</td>\n      <td>Actor</td>\n      <td>India</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>33</td>\n      <td>@MileyCyrus</td>\n      <td>Miley Cyrus</td>\n      <td>46.7</td>\n      <td>Musician and actress</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>34</td>\n      <td>@bts_twt</td>\n      <td>BTS</td>\n      <td>46.0</td>\n      <td>Musicians/K-pop</td>\n      <td>South Korea</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>35</td>\n      <td>@JLo</td>\n      <td>Jennifer Lopez</td>\n      <td>45.3</td>\n      <td>Musician and actress</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>36</td>\n      <td>@akshaykumar</td>\n      <td>Akshay Kumar</td>\n      <td>44.6</td>\n      <td>Actor</td>\n      <td>India</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>37</td>\n      <td>@beingsalmankhan</td>\n      <td>Salman Khan</td>\n      <td>44.1</td>\n      <td>Actor</td>\n      <td>India</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>38</td>\n      <td>@oprah</td>\n      <td>Oprah Winfrey</td>\n      <td>43.2</td>\n      <td>Television personality</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>39</td>\n      <td>@brunomars</td>\n      <td>Bruno Mars</td>\n      <td>43.2</td>\n      <td>Musician</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>40</td>\n      <td>@iamsrk</td>\n      <td>Shah Rukh Khan</td>\n      <td>42.5</td>\n      <td>Actor</td>\n      <td>India</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>41</td>\n      <td>@realmadrid</td>\n      <td>Real Madrid CF</td>\n      <td>41.8</td>\n      <td>Football club</td>\n      <td>Spain</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>42</td>\n      <td>@fcbarcelona</td>\n      <td>FC Barcelona</td>\n      <td>41.5</td>\n      <td>Football club</td>\n      <td>Spain</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>43</td>\n      <td>@niallofficial</td>\n      <td>Niall Horan</td>\n      <td>41.3</td>\n      <td>Musician</td>\n      <td>Ireland</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>44</td>\n      <td>@championsleague</td>\n      <td>UEFA Champions League</td>\n      <td>41.1</td>\n      <td>Football tournament</td>\n      <td>Europe</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>45</td>\n      <td>@espn</td>\n      <td>ESPN</td>\n      <td>40.2</td>\n      <td>Sports channel</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>46</td>\n      <td>@sportscenter</td>\n      <td>SportsCenter</td>\n      <td>40.0</td>\n      <td>Sports channel</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>47</td>\n      <td>@KylieJenner</td>\n      <td>Kylie Jenner</td>\n      <td>39.9</td>\n      <td>Television personality</td>\n      <td>United States</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>48</td>\n      <td>@drake</td>\n      <td>Drake</td>\n      <td>39.5</td>\n      <td>Rapper</td>\n      <td>Canada</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>49</td>\n      <td>@bts_bighit</td>\n      <td>BTS</td>\n      <td>39.2</td>\n      <td>Musicians/K-pop</td>\n      <td>South Korea</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>50</td>\n      <td>@Harry_Styles</td>\n      <td>Harry Styles</td>\n      <td>37.7</td>\n      <td>Musician</td>\n      <td>United Kingdom</td>\n      <td>Followers (millions) * 1000000</td>\n      <td>0</td>\n    </tr>\n  </tbody>\n</table>'

### 4.4 Delete a DataFrame

In [ ]:
del df